Repository eijikominami/video-compression-optimizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, mypy, cfn-lint

ruff-format:
  name: ruff format
  entry: ruff format --check
  language: system
  pass_filenames: false
  args:
  - src/

ruff-lint:
  name: ruff lint
  entry: ruff check
  language: system
  pass_filenames: false
  args:
  - src/

mypy:
  name: mypy type check
  entry: python3.11 -m mypy
  language: system
  pass_filenames: false
  args:
  - src/

cfn-lint:
  name: cfn-lint
  entry: cfn-lint
  language: system

feat(convert): add iCloud auto-download support
  .gitignore
  CHANGELOG.md
  README.md
  src/vco/cli/i18n.py
  src/vco/cli/main.py
  src/vco/config/manager.py
  src/vco/services/icloud_download.py
  tests/unit/test_cli.py
  tests/unit/test_icloud_download.py
  tests/unit/test_swift_bridge.py
Due: ruff-format, ruff-lint, mypy

refactor(services): remove unused local import/review functionality
  CHANGELOG.md
  src/vco/cli/i18n.py
  src/vco/cli/main.py
  src/vco/photos/manager.py
  src/vco/services/__init__.py
  src/vco/services/icloud_download.py
  src/vco/services/import_service.py
  src/vco/services/review.py
  src/vco/services/unified_import.py
  tests/integration/test_async_imports.py
  tests/integration/test_import_cli.py
  tests/properties/test_i18n.py
  tests/properties/test_review_queue.py
  tests/properties/test_unified_import_properties.py
  tests/unit/test_async_task_methods.py
  tests/unit/test_cli.py
  tests/unit/test_cli_legacy.py
  tests/unit/test_icloud_download.py
  tests/unit/test_import_service.py
  tests/unit/test_photos_manager_extended.py
  tests/unit/test_review_service.py
  tests/unit/test_unified_import.py
Due: ruff-format, ruff-lint, mypy

feat(cli): improve status and import command UX
  README.md
  README_JP.md
  src/vco/cli/i18n.py
  src/vco/cli/main.py
  src/vco/services/async_status.py
Due: ruff-format, ruff-lint, mypy

feat(icloud): add iCloud download support and update documentation
  ARCHITECTURE.md
  ARCHITECTURE_JP.md
  LICENSE
  bin/vco-photos
  docs/api-specification.md
  docs/architecture.md
  docs/data-models.md
  pyproject.toml
  src/vco/photos/swift_bridge.py
  src/vco/services/async_convert.py
  swift/Sources/VCOPhotosLib/Services/ICloudDownloader.swift
  swift/Sources/VCOPhotosLib/Services/PhotosManager.swift
  swift/bin/vco-photos
  tests/unit/test_swift_bridge.py
Due: ruff-format, ruff-lint, mypy

feat(metadata): add metadata verification for import command
  CHANGELOG.md
  README.md
  README_JP.md
  docs/data-models.md
  src/vco/cli/main.py
  src/vco/metadata/__init__.py
  src/vco/metadata/extractor.py
  src/vco/metadata/verifier.py
  src/vco/models/__init__.py
  src/vco/models/metadata.py
  src/vco/models/types.py
  src/vco/services/unified_import.py
  tests/properties/test_metadata_verification_properties.py
  tests/unit/test_cli_import.py
  tests/unit/test_metadata_extractor.py
  tests/unit/test_metadata_models.py
  tests/unit/test_metadata_verifier.py
Due: ruff-format, ruff-lint, mypy

feat(async): add verification progress tracking for VERIFYING state
  sam-app/quality-checker/app.py
  sam-app/statemachine/async-workflow.asl.json
  sam-app/template.yaml
  src/vco/models/async_task.py
  tests/properties/test_async_task_roundtrip.py
  tests/properties/test_i18n.py
  tests/properties/test_verification_progress_properties.py
  tests/unit/test_async_task_methods.py
  tests/unit/test_quality_checker_verification_progress.py
Due: ruff-format, ruff-lint, mypy, cfn-lint

ci: add GitHub Actions workflow for testing and linting
  .github/workflows/test.yml
Due: none

feat(metadata): implement metadata verification and embedding
  ARCHITECTURE.md
  ARCHITECTURE_JP.md
  CHANGELOG.md
  README.md
  README_JP.md
  docs/api-specification.md
  docs/data-models.md
  sam-app/async-task-status/app.py
  sam-app/quality-checker/app.py
  src/vco/cli/main.py
  src/vco/metadata/__init__.py
  src/vco/metadata/embedder.py
  src/vco/metadata/extractor.py
  src/vco/metadata/manager.py
  src/vco/models/async_task.py
  src/vco/models/metadata.py
  src/vco/models/types.py
  src/vco/photos/swift_bridge.py
  src/vco/services/async_convert.py
  src/vco/services/async_status.py
  src/vco/services/aws_import.py
  src/vco/services/unified_import.py
  src/vco/utils/progress.py
  tests/properties/test_verification_progress_properties.py
  tests/unit/test_async_task_methods.py
  tests/unit/test_cli_import.py
  tests/unit/test_metadata_embedder.py
  tests/unit/test_progress_calculation.py
  tests/unit/test_swift_bridge.py
  tests/unit/test_unified_import.py
Due: ruff-format, ruff-lint, mypy

fix(test): use context manager for CLI test mocks
  tests/unit/test_cli.py
Due: ruff-format, ruff-lint, mypy

fix(types): resolve mypy errors for cross-platform compatibility
  src/vco/converter/mediaconvert.py
  src/vco/metadata/manager.py
  src/vco/quality/checker.py
  src/vco/services/async_cancel.py
  src/vco/services/async_convert.py
  src/vco/services/async_status.py
  src/vco/services/aws_import.py
Due: ruff-format, ruff-lint, mypy

fix(types): use explicit Session constructor calls for mypy compatibility
  src/vco/converter/mediaconvert.py
  src/vco/quality/checker.py
Due: ruff-format, ruff-lint, mypy

fix(tests): resolve CLI test mocking issues with module reload
  src/vco/converter/mediaconvert.py
  src/vco/quality/checker.py
  tests/unit/test_cli.py
Due: ruff-format, ruff-lint, mypy

refactor(models): remove VERIFYING status and simplify progress calculation
  sam-app/async-task-status/app.py
  sam-app/async-workflow/app.py
  sam-app/async-workflow/quality_metrics.py
  src/vco/models/async_task.py
  src/vco/utils/progress.py
  tests/properties/test_async_task_roundtrip.py
  tests/properties/test_progress_consistency.py
  tests/unit/test_api_boundary.py
  tests/unit/test_async_task_methods.py
  tests/unit/test_lambda_status.py
  tests/unit/test_progress_calculation.py
  tests/unit/test_progress_lambda_consistency.py
  tests/unit/test_quality_metrics_parser.py
Due: ruff-format, ruff-lint, mypy

refactor(lambda): remove Quality Checker Lambda
  docs/data-models.md
  sam-app/quality-checker/Dockerfile
  sam-app/quality-checker/app.py
  sam-app/quality-checker/requirements.txt
  sam-app/statemachine/async-workflow.asl.json
  sam-app/template.yaml
  tests/unit/test_quality_checker_verification_progress.py
Due: ruff-format, ruff-lint, mypy, cfn-lint

refactor(tests): remove VERIFYING status references from test files
  CHANGELOG.md
  src/vco/cli/main.py
  tests/contract/test_api_contracts.py
  tests/properties/test_async_task_roundtrip.py
  tests/properties/test_cancel_cleanup_completeness.py
  tests/properties/test_field_roundtrip.py
  tests/properties/test_status_display_completeness.py
  tests/unit/test_alternate_path_verification.py
  tests/unit/test_cancel_command.py
  tests/unit/test_e2e_scenarios.py
  tests/unit/test_lambda_cancel.py
  tests/unit/test_status_command.py
Due: ruff-format, ruff-lint, mypy

docs: update documentation for MediaConvert per-frame metrics
  ARCHITECTURE.md
  ARCHITECTURE_JP.md
  README.md
  README_JP.md
  tests/integration/test_quality_metrics_integration.py
Due: ruff-format, ruff-lint, mypy

style: format test_cli_import.py
  tests/unit/test_cli_import.py
Due: ruff-format, ruff-lint, mypy

style: remove unused pytest import
  tests/unit/test_cli_import.py
Due: ruff-format, ruff-lint, mypy

chore: release v0.2.0
  CHANGELOG.md
Due: none

feat(services): add ParallelTransferService with property tests
  src/vco/services/parallel_transfer.py
  tests/unit/test_parallel_transfer_properties.py
Due: ruff-format, ruff-lint, mypy

feat(cli): integrate parallel transfer with progress display and cancel handling
  src/vco/cli/main.py
  src/vco/cli/progress_display.py
  src/vco/services/async_convert.py
  src/vco/services/parallel_transfer.py
Due: ruff-format, ruff-lint, mypy

docs: add parallel transfer feature to CHANGELOG and README
  CHANGELOG.md
  README.md
  README_JP.md
Due: none

feat(cli): add per-file progress display for parallel transfers
  src/vco/cli/main.py
  src/vco/services/async_convert.py
  tests/unit/test_icloud_download_parallel_progress.py
Due: ruff-format, ruff-lint, mypy

style: format test file with ruff
  tests/unit/test_icloud_download_parallel_progress.py
Due: ruff-format, ruff-lint, mypy

fix: remove unused import
  tests/unit/test_icloud_download_parallel_progress.py
Due: ruff-format, ruff-lint, mypy

feat(cli): add parallel iCloud download and S3 upload (#25)
  CHANGELOG.md
  README.md
  README_JP.md
  src/vco/cli/main.py
  src/vco/cli/progress_display.py
  src/vco/services/async_convert.py
  src/vco/services/parallel_transfer.py
  tests/unit/test_icloud_download_parallel_progress.py
  tests/unit/test_parallel_transfer_properties.py
Due: ruff-format, ruff-lint, mypy

ci: add release workflow and improve CI/CD
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  CHANGELOG.md
  README.md
  README_JP.md
  bin/vco-photos
  docs/api-specification.md
  docs/data-models.md
  sam-app/scripts/create-ffmpeg-layer.sh
  src/vco/cli/main.py
  swift/bin/vco-photos
Due: ruff-format, ruff-lint, mypy

ci: add Swift binary build step to test workflow
  .github/workflows/test.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  mypy: any of: \.py$
  cfn-lint: any of: sam-app/.*\.yaml$ and \.(yaml|yml)$
